<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About Bob Ross</title>
</head>
<body>
    <h1><a class="special_a" href="en.wikipedia.org/wiki/Bob_Ross" target="_blank">About Bob Ross</a></h1>

    <div>
        <p>Robert Norman Ross (famously known as Bob Ross) was born on 29th October of 1942 and he was an american painter, art instructor and televisionm host.</p>
        <p>His job basically was painting and teaching how to make amazing paints to other painters. On that time, he was the creator and host of <i>The Joy Of Painting</i>, an instructional television program that aired from 1983 to 1994 that was broadcasted in the United States, Canada, Latin America, and Europe. Bob Ross subsequently became widely known via his internet presence.</p>
        <p>Bob Ross was also well known for phrases he tended to repeat while painting (example: "let's add some happy little trees"). Ross would also note that he enjoyed clreaning his paint brush. He (again) was well known cleaning the brush, stike it hard on a trash can and after that, he would smile and and often laugh aloud as he said to "beat the devil out of it".</p>
    </div>

    <a href="/work">Le Bob Ross's work</a>
    <a href="/home">Le home</a>
</body>
</html>