<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Bob Ross's home</title>
</head>
<body>

    <h1>Bob Ross</h1>

    <h3>Welcome to le Bob Ross's Web :)</h3>

    <div>
        <p>Today I dedicate this page to the one, the only, the myth, the legend...Bob Ross.</p>
        <img height="400" width="350" src="images/kisspng-bob-ross-more-of-the-joy-of-painting-artist-televi-5b1f059f6f8eb4.288141431528759711457 (1).png" alt="Bob Ross">
    </div>


    <div>
        <nav>
            <a href="/about">About Bob Ross</a>
            <a href="/work">Le Bob Ross's work</a>
        </nav>
    </div>

</body>
</html>