<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Le Bob Ross's work</title>
</head>
<body>
    <h1>Le Bob Ross's work</h1>

    <div>
        <h3>Here's some great paintings he did</h3>
    </div>

    <div id="div">
        <img src="images/1_NAt57UMjvb2a4GB4gijVVw.png" alt="">
        <img src="images/ff7e850d4e4b70ae1208bea22cf4e32f.jpg" alt="">
        <img src="images/bob-ross-oak_blue-ridge-falls-articleLarge-v2.jpg" alt="">
    </div>

    <div id="div">
        <img src="images/bob-ross-mountain-summit-1987.jpg" alt="">
        <img src="images/a38971c3df8cddbe355a16b197c4b49e.jpg" alt="">
        <img src="images/960x0.png" alt="">
    </div>

    <div>
    <h3>And here's some famous quotes he said:</h3>
    </div>
    <div>
        <p><i>“The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe.”</i></p>
        <p><i>“We don’t make mistakes. We just have happy accidents.”</i></p>
        <p><i>“Talent is a pursued interest. Anything that you’re willing to practice, you can do.”</i></p>
        <p><i>“It’s so important to do something every day that will make you happy.”“You need the dark in order to show the light.”</i></p>
        <p><i>“It's the imperfections that make something beautiful that's what makes it different and unique from everything else.”</i></p>
        <p><i>“Believe that you can do it. See it in your mind. See it finished before you ever start.”</i></p>
        <p><i>“It’s life. It’s interesting. It’s fun.”</i></p>
    </div>


    <div>
        <a href="/about">About Bob Ross</a>
        <a href="/home">Le home</a>
    </div>
</body>
</html>